# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  run-hadolint:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under , so your job can access it
      - uses: actions/checkout@v2

      - name: Run hadolint for Base testrunner bullseye
        uses: hadolint/hadolint-action@master
        with:
          dockerfile: base/Dockerfile.bullseye
      - name: Run hadolint for Base testrunner bookworm
        uses: hadolint/hadolint-action@master
        with:
          dockerfile: base/Dockerfile.bookworm
      - name: Run hadolint for Go
        uses: hadolint/hadolint-action@master
        with:
          dockerfile: go/Dockerfile
      - name: Run hadolint for Python
        uses: hadolint/hadolint-action@master
        with:
          dockerfile: python/Dockerfile
      - name: Run hadolint for Rust
        uses: hadolint/hadolint-action@master
        with:
          dockerfile: rust/Dockerfile
